.header {
  display: flex;
  max-width: 100%;
  margin: 45px 200px 40px 200px;
  justify-content: flex-start;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1200px) {
  .header {
    justify-content: center;
    margin: 28px 0 42px 0;
  }
}

@media screen and (max-width: 380px) {
  .header {
    justify-content: flex-start;
  }
}
