.profile__avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .profile__avatar {
    margin: 0 53.75px 22.25px 59.5px;
  }
}
