.popup__input {
  box-sizing: border-box;
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding: 0;
  width: 358px;
  min-height: 27px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin: 0 36px 30px 36px;
}

.popup__input:focus {
  outline-color:cornflowerblue;
}

@media screen and (max-width: 1200px) {
  .popup__input {
    width: 238px;
    margin: 0 22px 30px 22px;
    padding-bottom: 7px;
  }
}

